{% extends 'organization/base.html' %}
{% block title %}Hire{% endblock title %}
{% block breadcrumb %}
<div class="head-title">
   <div class="left">
      <h1>Start Hiring</h1>
      <ul class="breadcrumb">
         <li>
            <a href="../profile" class="active">Dashboard</a>
         </li>
         <li style="color: var(--dark);">
            >
         </li>
         <li>
            <a>Hire</a>
         </li>
      </ul>
   </div>
</div>
{% endblock breadcrumb %}
{% block navbar %}
<ul class="side-menu top">
   <li>
      <a href="profile/history">
         <i class='bx bxs-doughnut-chart' ></i>
         <span class="text">History</span>
      </a>
   </li>
   <li>
      <a href="#">
         <i class='bx bxs-message-dots' ></i>
         <span class="text">Message</span>
      </a>
   </li>
   <li>
      <a href="#">
         <i class='bx bxs-group' ></i>
         <span class="text">Team</span>
      </a>
   </li>
</ul>
{% endblock navbar %}
{% block body %}
<ul class="box-info">
   <a href="hire/auction">
      <li>
         <i class='bx bxs-calendar-check' ></i>
         <span class="text">
            <h3>1020</h3>
            <p>Auctions</p>
         </span>
      </li>
   </a>
   <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
         <h3>2834</h3>
         <p>Visitors</p>
      </span>
   </li>
   <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
         <h3>$2543</h3>
         <p>Total Sales</p>
      </span>
   </li>
</ul>


<div class="table-data">
   <div class="order">
      <div class="head">
         <h3>Recent Orders</h3>
         <i class='bx bx-search' ></i>
         <i class='bx bx-filter' ></i>
      </div>
      <table>
         <thead>
            <tr>
               <th>User</th>
               <th>Date Order</th>
               <th>Status</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status completed">Completed</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status process">Process</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status completed">Completed</span></td>
            </tr>
         </tbody>
      </table>
   </div>
{% endblock body %}