{% extends 'organization/base.html' %}
{% block title %}{{ context.name }}{% endblock title %}
{% block breadcrumb %}
<div class="head-title">
   <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
         <li>
            <a href="#">Dashboard</a>
         </li>
      </ul>
   </div>
</div>
{% endblock breadcrumb %}
{% block navbar %}
<ul class="side-menu top">
   <li>
      <a href="profile/hire">
         <i class='bx bxs-building-house' ></i>
         <span class="text">Hire</span>
      </a>
   </li>
   <li>
      <a href="profile/history">
         <i class='bx bxs-doughnut-chart' ></i>
         <span class="text">History</span>
      </a>
   </li>
   <li>
      <a href="#">
         <i class='bx bxs-message-dots' ></i>
         <span class="text">Message</span>
      </a>
   </li>
   <li>
      <a href="#">
         <i class='bx bxs-group' ></i>
         <span class="text">Team</span>
      </a>
   </li>
</ul>
{% endblock navbar %}
{% block body %}
{% if messages %}
	{% for message in messages %}
		{% if message %}
		<div class="alert alert-success alert-dismissible">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <strong>Success!</strong> {{ context.name }} your auction is created successfully.
       </div>
		{% endif %}
	{% endfor %}
{% endif %}
<ul class="box-info">
   <li>
      <i class='bx bxs-calendar-check' ></i>
      <span class="text">
         <h3>1020</h3>
         <p>New Order</p>
      </span>
   </li>
   <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
         <h3>2834</h3>
         <p>Visitors</p>
      </span>
   </li>
   <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
         <h3>$2543</h3>
         <p>Total Sales</p>
      </span>
   </li>
</ul>


<div class="table-data">
   <div class="order">
      <div class="head">
         <h3>Recent Orders</h3>
         <i class='bx bx-search' ></i>
         <i class='bx bx-filter' ></i>
      </div>
      <table>
         <thead>
            <tr>
               <th>User</th>
               <th>Date Order</th>
               <th>Status</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status completed">Completed</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status process">Process</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
               <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
               </td>
               <td>01-10-2021</td>
               <td><span class="status completed">Completed</span></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="todo">
      <div class="head">
         <h3>Todos</h3>
         <i class='bx bx-plus' ></i>
         <i class='bx bx-filter' ></i>
      </div>
      <ul class="todo-list">
         <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
         </li>
         <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
         </li>
         <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
         </li>
         <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
         </li>
         <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
         </li>
      </ul>
   </div>
</div>
{% endblock body %}