{% extends 'user/base.html' %}
{% block title %}{{ context.name }}{% endblock title %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>
    <a class="breadcrumb-item active">Dashboard</a>
  </li>
</ol>
{% endblock breadcrumbs %}
{% block navigation %}
<a class="navbar-brand" href="index.html">Freelancer</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Browse Jobs">
      <a class="nav-link" href="profile/jobs">
        <lord-icon
        src="https://cdn.lordicon.com/fhtaantg.json"
        trigger="hover"
        style="height:25px; width:25px;"
        colors="primary:#848484,secondary:#000000"
        axis-y="65">
    </lord-icon>
<span class="nav-link-text">Browse Jobs</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AI">
      <a class="nav-link" href="profile/ai">
<lord-icon
    src="https://cdn.lordicon.com/bhfjfgqz.json"
    trigger="hover"
    style="height:25px; width:25px;"
    colors="primary:#848484" 
    axis-y="65">
</lord-icon>
        <span class="nav-link-text">Chat with AI</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AI">
      <a class="nav-link" href="forums">
<lord-icon
    src="https://cdn.lordicon.com/bhfjfgqz.json"
    trigger="hover"
    style="height:25px; width:25px;"
    colors="primary:#848484" 
    axis-y="65">
</lord-icon>
        <span class="nav-link-text">Forums</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages"
        data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-file"></i>
        <span class="nav-link-text">Example Pages</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseExamplePages">
        <li>
          <a href="login.html">Login Page</a>
        </li>
        <li>
          <a href="register.html">Registration Page</a>
        </li>
        <li>
          <a href="forgot-password.html">Forgot Password Page</a>
        </li>
        <li>
          <a href="blank.html">Blank Page</a>
        </li>
      </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
        data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-sitemap"></i>
        <span class="nav-link-text">Menu Levels</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseMulti">
        <li>
          <a href="#">Second Level Item</a>
        </li>
        <li>
          <a href="#">Second Level Item</a>
        </li>
        <li>
          <a href="#">Second Level Item</a>
        </li>
        <li>
          <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
          <ul class="sidenav-third-level collapse" id="collapseMulti2">
            <li>
              <a href="#">Third Level Item</a>
            </li>
            <li>
              <a href="#">Third Level Item</a>
            </li>
            <li>
              <a href="#">Third Level Item</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-link"></i>
        <span class="nav-link-text">Link</span>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
      <a class="nav-link text-center" id="sidenavToggler">
        <i class="fa fa-fw fa-angle-left"></i>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-envelope"></i>
        <span class="d-lg-none">Messages
          <span class="badge badge-pill badge-primary">12 New</span>
        </span>
        <span class="indicator text-primary d-none d-lg-block">
          <i class="fa fa-fw fa-circle"></i>
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">New Messages:</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <strong>David Miller</strong>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These
            messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <strong>Jane Smith</strong>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead
            of 4:00. Thanks!</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <strong>John Doe</strong>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">I've sent the final files over to you for review. When you're able
            to sign off of them let me know and we can discuss distribution.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item small" href="#">View all messages</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-bell"></i>
        <span class="d-lg-none">Alerts
          <span class="badge badge-pill badge-warning">6 New</span>
        </span>
        <span class="indicator text-warning d-none d-lg-block">
          <i class="fa fa-fw fa-circle"></i>
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">New Alerts:</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <span class="text-success">
            <strong>
              <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
          </span>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">This is an automated server response message. All systems are
            online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <span class="text-danger">
            <strong>
              <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
          </span>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">This is an automated server response message. All systems are
            online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <span class="text-success">
            <strong>
              <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
          </span>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">This is an automated server response message. All systems are
            online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item small" href="#">View all alerts</a>
      </div>
    </li>
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0 mr-lg-2">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for...">
          <span class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
    </li>
  </ul>
</div>
{% endblock navigation %}
{% block body %}
<style>
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    height: 400px;
    border: solid 1px black;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: -50px;
    border-radius: 3px 3px 3px 3px;
  }
  
  .prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px;
  }
  
  .prev:hover,
  .next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active2,
  .dot:hover {
    background-color: #717171;
  }
  
</style>
{% comment %} {{ data.1.0 }} {% endcomment %}
<center>
  Some Latest Jobs for you !
</center>
<div class="card mb-3">
 <div class="slideshow-container">
  
    <div class="slideshow-inner">
      
      <div class="mySlides fade">
        

        <img src="media/media/bank.png" style='width: 100%; height: 300px;' alt="NA" >

        {% comment %} <img src="{{ data.1.0.link }}" style='width: 100%; height: 350px;' /> {% endcomment %}
      
        <div class="text"><form method="POST" action="profile/more_details">
          
          {% csrf_token %}
                <div class="job-card__footer">
                  <button class="btn btn-primary" name="value" value={{ job.0.id }}> {{ job.0.company_name }} </button>
                </div>
            </form></div>

      </div>

      <div class="mySlides fade">
  

        <img src="media/media/bank.png" style='width: 100%; height: 300px;' alt="NA" >
        {% comment %} <img src="{{ data.1.0.link }}" style='width: 100%; height: 350px;' /> {% endcomment %}
      
        <div class="text"><form method="POST" action="profile/more_details">
          
          {% csrf_token %}
                <div class="job-card__footer">
                  <button class="btn btn-primary" name="value" value={{ job.1.id }}> {{ job.1.company_name }} </button>
                </div>
            </form></div>
      </div>
  
      <div class="mySlides fade">

        <img src="media/media/bank.png" style='width: 100%; height: 300px;' alt="NA" >
        {% comment %} <img src="https://cdn.lordicon.com/uitzjnpu.json" style="width:100%;height:350px"/> {% endcomment %}
        

        {% comment %} <img src="{{ data.1.0.link }}" style='width: 100%; height: 350px;' /> {% endcomment %}
      
        <div class="text"><form method="POST" action="profile/more_details">
          
          {% csrf_token %}
                <div class="job-card__footer">
                  <button class="btn btn-primary" name="value" value={{ job.2.id }}> {{ job.2.company_name }} </button>
                </div>
            </form></div>
  
      </div>
  
      <div class="mySlides fade">
        
        <img src="media/media/bank.png" style='width: 100%; height: 300px;' alt="NA" >
        {% comment %} <img src="https://cdn.lordicon.com/uitzjnpu.json" style="width:100%;height:350px"/> {% endcomment %}
        
    
        {% comment %} <img src="{{ data.1.0.link }}" style='width: 100%; height: 350px;' /> {% endcomment %}
      
        <div class="text"><form method="POST" action="profile/more_details">
          
          {% csrf_token %}
                <div class="job-card__footer">
                  <button class="btn btn-primary" name="value" value={{ job.3.id }}> {{ job.3.company_name }} </button>
                </div>
            </form></div>
      </div>
  
    </div>
  
    <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
    <a class="next" onclick='plusSlides(1)'>&#10095;</a>
  </div>
  <br />
  
  <div style='text-align: center;'>
    <span class="dot" onclick='currentSlide(1)'></span>
    <span class="dot" onclick='currentSlide(2)'></span>
    <span class="dot" onclick='currentSlide(3)'></span>
    <span class="dot" onclick='currentSlide(4)'></span>
  </div>
 </div>
 <div class="row">
   <div class="col-lg-8">
     <!-- Example Bar Chart Card-->
     <center>
     Your Forums
     </center>
     {% for data in data %}
     <div class="card mb-3">
       <div class="card-header">
         <i class="fa fa-bar-chat"></i> Title : {{ data.2 }}
       </div>
       
       <div class="card-body">
         <div class="row">
          {% comment %} col-sm-4 {% endcomment %}
           <div class="col  my-auto">
            {{ data.4|safe }}
           </div>

         </div>
       </div>
       <div class="card-footer small text-muted">Date : {{ data.5 }}</div>
     </div>
     {% endfor %}

     
     


     {% comment %} 
              Name : {{ data.1 }}
              Title : {{ data.2 }}
              <br>

              <hr>
              Date : {{ data.5 }}
              <hr>
             {% endcomment %}

     <!-- Card Columns Example Social Feed-->
     
     <!-- /Card Columns-->
   </div>
   <div class="col-lg-4">
     <!-- Example Pie Chart Card-->
     <div class=  "card mb-3">
       <div class="card-header">
         <i class="fa fa-pie-chart"></i> Today's Headlines
       </div>
        {% for news in news %}
          Source : {{ news.0.0 }}
          <br>
          <a href="{{ news.0.3 }}" target="_blank">
          {{ news.0.2 }}
          </a>
          
          <hr>
        {% endfor %}
       {% comment %} <div class="card-body">
         <canvas id="myPieChart" width="100%" height="100"></canvas>
       </div> {% endcomment %}

       <div class="card-footer small text-muted">Updated Today</div>
     </div> 
     <script>
      var slideIndex = 1;

var myTimer;

var slideshowContainer;

window.addEventListener("load",function() {
    showSlides(slideIndex);
    myTimer = setInterval(function(){plusSlides(1)}, 4000);
  
    //COMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
    slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];
  
    //UNCOMMENT OUT THE LINE BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
    // slideshowContainer = document.getElementsByClassName('slideshow-container')[0];
  
    slideshowContainer.addEventListener('mouseenter', pause)
    slideshowContainer.addEventListener('mouseleave', resume)
})

// NEXT AND PREVIOUS CONTROL
function plusSlides(n){
  clearInterval(myTimer);
  if (n < 0){
    showSlides(slideIndex -= 1);
  } else {
   showSlides(slideIndex += 1); 
  }
  
  //COMMENT OUT THE LINES BELOW TO KEEP ARROWS PART OF MOUSEENTER PAUSE/RESUME
  
  if (n === -1){
    myTimer = setInterval(function(){plusSlides(n + 2)}, 4000);
  } else {
    myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
  }
}

//Controls the current slide and resets interval if needed
function currentSlide(n){
  clearInterval(myTimer);
  myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
  showSlides(slideIndex = n);
}

function showSlides(n){
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active2", "");
  }
  slides[slideIndex-1].style.display = "contents";
  dots[slideIndex-1].className += " active2";
}

pause = () => {
  clearInterval(myTimer);
}

resume = () =>{
  clearInterval(myTimer);
  myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
}
     </script>
{% endblock body %}