{% extends 'user/base.html' %}
{% block title %}Apply Now{% endblock title %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="../profile">Dashboard</a>
  </li>
  <li class="breadcrumb-item"><a href="../profile/jobs">Jobs</a></li>
  <li class="breadcrumb-item">Apply Now</li>
</ol>

{% endblock breadcrumbs %}
{% block navigation %}
<a class="navbar-brand" href="index.html">Freelancer</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
      <a class="nav-link" href="tables.html">
        <i class="fa fa-fw fa-table"></i>
        <span class="nav-link-text">Tables</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
        data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-wrench"></i>
        <span class="nav-link-text">Components</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseComponents">
        <li>
          <a href="navbar.html">Navbar</a>
        </li>
        <li>
          <a href="cards.html">Cards</a>
        </li>
      </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages"
        data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-file"></i>
        <span class="nav-link-text">Example Pages</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseExamplePages">
        <li>
          <a href="login.html">Login Page</a>
        </li>
        <li>
          <a href="register.html">Registration Page</a>
        </li>
        <li>
          <a href="forgot-password.html">Forgot Password Page</a>
        </li>
        <li>
          <a href="blank.html">Blank Page</a>
        </li>
      </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
        data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-sitemap"></i>
        <span class="nav-link-text">Menu Levels</span>
      </a>
      <ul class="sidenav-second-level collapse" id="collapseMulti">
        <li>
          <a href="#">Second Level Item</a>
        </li>
        <li>
          <a href="#">Second Level Item</a>
        </li>
        <li>
          <a href="#">Second Level Item</a>
        </li>
        <li>
          <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
          <ul class="sidenav-third-level collapse" id="collapseMulti2">
            <li>
              <a href="#">Third Level Item</a>
            </li>
            <li>
              <a href="#">Third Level Item</a>
            </li>
            <li>
              <a href="#">Third Level Item</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-link"></i>
        <span class="nav-link-text">Link</span>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
      <a class="nav-link text-center" id="sidenavToggler">
        <i class="fa fa-fw fa-angle-left"></i>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-envelope"></i>
        <span class="d-lg-none">Messages
          <span class="badge badge-pill badge-primary">12 New</span>
        </span>
        <span class="indicator text-primary d-none d-lg-block">
          <i class="fa fa-fw fa-circle"></i>
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">New Messages:</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <strong>David Miller</strong>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These
            messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <strong>Jane Smith</strong>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead
            of 4:00. Thanks!</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <strong>John Doe</strong>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">I've sent the final files over to you for review. When you're able
            to sign off of them let me know and we can discuss distribution.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item small" href="#">View all messages</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-bell"></i>
        <span class="d-lg-none">Alerts
          <span class="badge badge-pill badge-warning">6 New</span>
        </span>
        <span class="indicator text-warning d-none d-lg-block">
          <i class="fa fa-fw fa-circle"></i>
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">New Alerts:</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <span class="text-success">
            <strong>
              <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
          </span>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">This is an automated server response message. All systems are
            online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <span class="text-danger">
            <strong>
              <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
          </span>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">This is an automated server response message. All systems are
            online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <span class="text-success">
            <strong>
              <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
          </span>
          <span class="small float-right text-muted">11:21 AM</span>
          <div class="dropdown-message small">This is an automated server response message. All systems are
            online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item small" href="#">View all alerts</a>
      </div>
    </li>
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0 mr-lg-2">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for...">
          <span class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
    </li>
  </ul>
</div>
{% endblock navigation %}
{% block body %}
<div id="wrapper">

  <!-- Menu -->
  <!-- <nav id="menu">
    <ul class="links">
      <li> <a href="index.html">Home </a> </li>

      <li class="active"> <a href="jobs.html">Jobs</a> </li>

      <li> <a href="blog.html">Blog</a> </li>

      <li> <a href="about-us.html">About Us</a> </li>

      <li><a href="team.html">Team</a></li>

      <li><a href="testimonials.html">Testimonials</a></li>

      <li><a href="terms.html">Terms</a></li>

      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </nav> -->

  <!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
    <section id="one">
      <div class="inner">
        <div class="row">
          <div class="col-lg-8">
            <header class="major">
              <h1>Security Officer - Luxury Retail</h1>

              <h4>Security / Protective Services Jobs</h4>

              <h2>$ 60 000</h2>
            </header>
          </div>

          <div class="col-lg-4 text-right">

            <br>
            <br>

            <ul class="icons">
              <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a>
              </li>
              <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a>
              </li>
              <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a>
              </li>
            </ul>

            <a href="contact.html" class="button next scrolly">Apply for this job</a>
          </div>
        </div>

        <br>
      </div>
    </section>

    <section id="contact">
      <div class="inner">
        <section>
          <header class="major">
            <h2>Description</h2>
          </header>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, delectus totam non est
            excepturi expedita, illum vitae vel dolore exercitationem nobis quasi dicta illo id quas.
            Error commodi, modi minus. <br><br>
            Perferendis, quidem, facilis. Aspernatur alias numquam saepe deleniti dolorem quos
            repudiandae eaque ad eligendi quam, ratione, error minima culpa suscipit nostrum magni omnis
            est. Suscipit dolor sint aut maiores eius, id nemo, optio, quos tempora cum est quas. At
            recusandae obcaecati consequatur ipsa dignissimos, eius commodi qui quae exercitationem
            fugiat, voluptatem, nesciunt!
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatem vero culpa rerum
            similique labore, nisi minus voluptatum numquam fugiat. <br><br>Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Placeat fugit sint reiciendis quas temporibus quam maxime
            nulla vitae consectetur perferendis, fugiat assumenda ex dicta molestias soluta est quo
            totam cum?</p>

          <header class="major">
            <h2>About Cannon Guards Security ltd</h2>

            <h4><i class="fa fa-map-marker"></i> London</h4>
          </header>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, vitae!</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dicta, quibusdam sapiente
            aliquid tempora ipsam modi. Quasi id quia voluptate?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facere harum nulla excepturi
            distinctio animi, quo corrupti aspernatur ducimus suscipit! Saepe delectus odio error
            expedita velit, at, dignissimos consectetur corrupti.</p>
        </section>

        <section class="split">
          <section>
            <img src="images/product-1-720x480.jpg" class="img-responsive" alt="">
          </section>

          <section>
            <div class="contact-method">
              <span class="icon alt fa-user"></span>
              <h3>Name</h3>
              <span>John Smith</span>
            </div>
          </section>

          <section>
            <div class="contact-method">
              <span class="icon alt fa-envelope"></span>
              <h3>Email</h3>
              <a href="#">contact@company.com</a>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon alt fa-phone"></span>
              <h3>Phone</h3>
              <span>+1 333 4040 5566</span>
            </div>
          </section>

          <section>
            <div class="contact-method">
              <span class="icon alt fa-globe"></span>
              <h3>Website</h3>
              <a href="http://www.cannonguards.com/">http://www.cannonguards.com/</a>
            </div>
          </section>
        </section>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <!-- <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
      </ul>
      <!-- <ul class="copyright">
        <li>Copyright © 2020 Company Name - Template by:</li>
        <li> <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></li>
      </ul> -->
    </div>
  </footer> -->

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
{% endblock body %}