{% extends 'forums/base.html' %}
{% block title %}Forums{% endblock title %}
{% block body %}

   <div class="container">
      <h1>
         Add a New Forum !
      </h1>
      <div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-grey position-relative">

      <center>
         <form method="POST" action="./" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
            <hr>
            <label>Title : <input type="text" name="title"></input></label>
            <hr>
            <label>Tags : <input type="text" name="tags" placeholder="Ex: python,java,IT,buisness,etc."></input></label>
            <hr>
            <label>Description : <textarea name="description"></textarea></label>
            <hr>
            <label>Author Name : <input type="text" name="author_name" placeholder="You can be Anonymous"></input></label>
            <hr>
            <label>Email : <input type="email" name="email"></input></label>
            <hr>
            <label>Add an Image : <input type="file" name="image"></input></label>
            <hr>
            <label>Time is : <span id="time"></label>
         </div>
         <br>
         <button type="submit" name="submit">Submit</button>
      </form>
      </center>
   </div>
   </div>
   <script>
      var datetime = new Date();
      document.getElementById("time").textContent = datetime;
   </script>
{% endblock body %}