{% extends 'forums/base.html' %}
{% block title %}Forums{% endblock title %}
{% block body %}
	<!--------------------------------------
HEADER
--------------------------------------->
{% comment %} <img src="{{ content.1.link }}" /> {% endcomment %}

<div class="container">
	{% comment %} {{ content.1.name }} {% endcomment %}
	<div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative">
		<div class="pl-4 pr-0 h-100 tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-6 pb-6 align-self-center">
					<h1 class="secondfont mb-3 font-weight-bold">{{ content.1.title }}</h1>
					<p class="mb-3">
						{{ content.1.desc|safe }}
					</p>
					<form method="POST" action="./read">
						{% csrf_token %}
					<button class="btn btn-dark" value={{ content.1.id }} name="id">Read More</button>
					</form>
					<br>
					<small class="d-block"><a class="text-muted" href="./author.html">{{ content.1.name }}</a></small>

					<small class="text-muted">{{ content.1.date }}</small>

				</div>
			
				{% comment %} <div class="col-md-6 d-none d-md-block pr-0" style="background-size: 300px 300px; background-image:url({{ content.2.link }});>	</div> {% endcomment %}
				<img src={{ content.1.link }} style="height:300px; width:250px;"/>
				
			</div>	
		</div>
	</div>
</div> 

<!-- End Header -->
    
    
<!--------------------------------------
MAIN
--------------------------------------->
    
<div class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-6">
			<div class="card border-0 mb-4 box-shadow h-xl-300">              
                <div style="background-image: url({{ content.2.link }}); height: 200px;    background-size: auto;    background-repeat: no-repeat;"></div>               
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<form method="POST" action="./read">
						{% csrf_token %}
					<button class="btn btn-dark" value={{ content.2.id }} name="id">Read More</button>
					</form>
					</h2>
					<p class="card-text">
						{{ content.2.desc|safe }}
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">{{ content.2.name }}</a></small>
						<small class="text-muted">{{ content.2.date }}</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src={{ content.3.link }}>
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
							<form method="POST" action="./read">
								{% csrf_token %}
									<button class="btn btn-dark" value={{ content.3.id }} name="id">Read More</button>
							</form>
					</h2>
						<div class="card-text text-muted small">
							{{ content.3.desc }}
						</div>
						<small class="text-muted">{{ content.3.date }}</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src={{ content.4.link }}>
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
							<form method="POST" action="./read">
								{% csrf_token %}
									<button class="btn btn-dark" value={{ content.4.id }} name="id">Read More</button>
							</form>
					</h2>
						<div class="card-text text-muted small">
							{{ content.4.desc }}
						</div>
						<small class="text-muted">{{ content.4.date }}</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src={{ content.5.link }}>
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
							<form method="POST" action="./read">
								{% csrf_token %}
									<button class="btn btn-dark" value={{ content.5.id }} name="id">Read More</button>
							</form>
					</h2>
						<div class="card-text text-muted small">
							{{ content.5.desc }}
						</div>
						<small class="text-muted">{{ content.5.date }}</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
    
<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
						{{ content.6.title }}
					</h2>
					<p>
						{{ content.6.desc }}
					</p>
					<div class="card-text text-muted small">
						{{ content.6.name }}
					</div>
					<form method="POST" action="./read">
						{% csrf_token %}
							<button class="btn btn-dark" value={{ content.6.id }} name="id">Read More</button>
						</form>
					{% comment %} <small class="text-muted">Dec 12 &middot; 5 min read</small> {% endcomment %}
				</div>
				<img height="120" src={{ content.6.link }}>
			</div>
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
						{{ content.7.title }}
					</h2>
					<p>
						{{ content.7.desc }}
					</p>
					<div class="card-text text-muted small">
						{{ content.7.name }}
					</div>
					<form method="POST" action="./read">
						{% csrf_token %}
							<button class="btn btn-dark" value={{ content.7.id }} name="id">Read More</button>
						</form>
					{% comment %} <small class="text-muted">Dec 12 &middot; 5 min read</small> {% endcomment %}
				</div>
				<img height="120" src={{ content.7.link }}>
			</div>
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
						{{ content.8.title }}
					</h2>
					<p>
						{{ content.8.desc }}
					</p>
					<div class="card-text text-muted small">
						{{ content.8.name }}
					</div>
					<form method="POST" action="./read">
						{% csrf_token %}
							<button class="btn btn-dark" value={{ content.8.id }} name="id">Read More</button>
						</form>
					{% comment %} <small class="text-muted">Dec 12 &middot; 5 min read</small> {% endcomment %}
				</div>
				<img height="120" src={{ content.8.link }}>
			</div>
		</div>
		<div class="col-md-4 pl-4">
            <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
			<ol class="list-featured">
				<li>
				<span>
				<h6 class="font-weight-bold">
				{{ content.9.title }}
				</h6>
				<form method="POST" action="./read">
					{% csrf_token %}
					<button class="btn btn-dark" value={{ content.9.id }} name="id">Read More</button>
				</form>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				{{ content.10.title }}
				</h6>
				<form method="POST" action="./read">
					{% csrf_token %}
					<button class="btn btn-dark" value={{ content.10.id }} name="id">Read More</button>
				</form>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				{{ content.11.title }}
				</h6>
				<form method="POST" action="./read">
					{% csrf_token %}
					<button class="btn btn-dark" value={{ content.11.id }} name="id">Read More</button>
				</form>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				{{ content.12.title }}
				</h6>
				<form method="POST" action="./read">
					{% csrf_token %}
					<button class="btn btn-dark" value={{ content.12.id }} name="id">Read More</button>
				</form>
				</span>
				</li>
			</ol>
		</div>
	</div>
</div>	
{% endblock body %}